@charset 'UTF-8';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100;300;400&display=swap');

body {
    font: normal 15pt 'Montserrat', Arial, sans-serif;
    background-image: linear-gradient(to right, #cdc4f3, #96c5f7ee);
    background-size: 600% 600%;
    color: white;
    text-align: center;
    animation: colors 10s ease infinite;
}

@keyframes colors{
    0%{
        background-position: 0% 50%;
    }

    50%{
        background-position: 100% 50%;
    }

    100%{
        background-position: 0% 50%;
    }
}

header {
    font-style: 100;
    margin: 50px auto -40px auto;
    text-shadow: 2px 2px 2px #6faff5ee;
}

section{
    background-color: white;
    width: 600px;
    height: 480px;
    margin: 100px auto;
    border-radius: 20px;
    box-shadow: 0px 0px 5px #8dbae9;
}

section div#divMsg{
    display: flex;
    justify-content: center;
}

section p#msg {
    font: normal 20pt 'Big Shoulders Display';
    color: #26547cb9;
    width: 12.6em;
    margin-top: 60px;
    border-right: #26547cb9 solid 3px;
    white-space: nowrap;
    overflow: hidden;
    animation: blinkCursor 800ms infinite normal, typing 3.5s steps(40) normal;
}

@keyframes typing{
    0%{
        width: 0;
    }
    100%{
        width: 12.6em;
    }
}

@keyframes blinkCursor{
    from{
        border-right: #26547cb9 solid 2px;
    }
    to{
        border-right: transparent 3px;
        
    }
}

section div#divImg {
    padding-top: 0px;
}

section img#img{
    border-radius: 130px;
    box-shadow: 0px 0px 10px #3e5e81e3;
    transition: all 400ms ease;
}

footer {
    margin-top: -50px;
    text-shadow: 2px 2px 1px #b0a1f3;
}

footer a{
    color: white;
    text-decoration: none;
    background-color: #26547c34;
    padding: 5px 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 2px #6fb0f5b0;
    transition: all 400ms ease;
}

footer a:hover{
    background-color: white;
    color: #6fb0f5da;
    text-shadow: 1px 1px 1px rgb(197, 197, 197);
    padding: 10px 15px;
    transition: all 400ms ease;
}


footer a:active{
    background-color: #26547ca9;
    color: white;
}